// Functions
animation(propriete, arguments)
    -webkit-animation-{propriete} arguments
    -khtml-animation-{propriete} arguments
    -moz-animation-{propriete} arguments
    -ms-animation-{propriete} arguments
    -o-animation-{propriete} arguments
    animation-{propriete} arguments
    
transition(arguments...)
	-webkit-transition arguments
	-khtml-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments
	
transform(arguments...)
	-webkit-transform arguments
	-khtml-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform
	
border-image(arguments...)
	-webkit-border-image arguments
    -moz-border-image arguments
    -o-border-image arguments
    border-image arguments
    
box-sizing()
	-webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

filter(arguments)
	-webkit-filter arguments
    filter arguments
    